// .body {
//     font-size: 12px;

//     @media (min-width: 48rem) {
//         font-size: 14px;
//     }
// }
@mixin tablet {
  @media (min-width: map-get($breakPoints, "md")) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: map-get($breakPoints, "lg")) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: map-get($breakPoints, "xl")) {
    @content;
  }
}

// .body {
//     font-size: 12px;
//     @include tablet {
//         font-size: 14px;
//     }
//     @include laptop {
//         font-size: 16px;
//     }
//     @include desktop {
//         font-size: 16px;
//     }
// }

// @include margin-top('xxxs');
// @include margin-left('sm');
// @include padding-left('lg');
