/*=============================================
=            Colors                          =
=============================================*/

/**
 *
 * Block comment
 *
 */
$green: #5ece7b;
$green-light: #9ee2b0;

$dark: #1d1f22;
$dark-light: #737680;

/* Neutral colors */

$gray: #a3a5ab;
$gray-light: #bebfc4;

$white: #fff;
$white-dark: #f1f2f3;

/* utility colors */
$red: #d12727;
$red-light: #f8dedf;

$blue: #0468db;
$blue-light: #b4d2f4;

/*=============================================
=            Typography                      =
=============================================*/

/* font families */

$playfair: "Playfair", serif;
$raleway: "Raleway", "HelveticaNeue";

/* Font size */

$fs-xs: 0.75rem; // 12px
$fs-sm: 0.875rem; // 14px
$fs-base: 1rem;
$fs-lg: 1.125rem;
$fs-xl: 1.5rem; //24px

/* Heading font sizes */

$h-1: 1.375rem;
$h-2: 1.375rem;
$h-3: 1rem;
$h-4: 1.125rem;
$h-5: 0.75rem;

/* Font weights */

$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;
/*=============================================
=            BreakPoint                      =
=============================================*/
$breakPoints: (
  md: 48rem,
  // 768px
  lg: 64rem,
  // 1024px
  xl: 80rem,
  // 1280px;
);
/*=====  End of BreakPoint  ======*/

/*=============================================
=            Spacing                          =
=============================================*/
$spacing: (
  xxxs: 0.25rem,
  // 4px
  xxs: 0.5rem,
  // 8px
  xs: 0.75rem,
  // 12px
  sm: 1rem,
  // 16px
  md: 1.5rem,
  // 24px
  lg: 2rem,
  // 32px
  xl: 3rem,
  // 48px
  xxl: 4.5rem // 72px
  xxxl: 6rem,
  // 96px
) !default;
